{% set body_classes = "background-secondary" %}

{% extends 'partials/base.html.twig' %}

{% block header %}
	{% include 'partials/header_simple.html.twig' %}
{% endblock %}

{% block content %}
	<div class="main-content row align-center main-content-delayed">
		<div class="col col-10">
			<h1 class="title">
				<img class="contact-logo" src="/user/themes/nowheretheme/assets/logo_2.png" alt="We are Now- We are Here." title="We are Now- We are Here.">
			</h1>
   			{{ page.content }}
		</div>
	</div>
{% endblock %}
