
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

@include text-font("'Poppins', sans-serif");
@include headings-font("'Poppins', sans-serif");
@include buttons-font("'Poppins', sans-serif");
@include inputs-font("'Poppins', sans-serif");

// @font-face {
//   font-family: 'Poppins';
//   src: url('../fonts/Poppins-Regular.ttf') format('truetype')
// }
// @font-face {
//   font-family: 'PoppinsMedium';
//   src: url('../fonts/ElliotSans-Medium.ttf') format('truetype')
// }
@font-face {
  font-family: 'ElliotSansBold';
  src: url('../fonts/ElliotSans-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'ElliotSansBoldI';
  src: url('../fonts/ElliotSans-BoldItalic.ttf') format('truetype')
}

@mixin background-cover() {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$primary-color: #036B89;
$secondary-color: #F1E1BF;
$tertiary-color: #c5d5d7;


/** GENERAL **/
body{
  color: $primary-color;
  background: transparent;
  transition: background-color 1s;
  -webkit-transition: background-color 1s; /* Safari */

  h1, h1.title, h2, h3, h4, h5, h6 {
    color: $primary-color;
  }

  h1.title, h2.title{
    font-family: 'ElliotSansBold';
  }

  &.background-primary, .background-primary {
    background: $primary-color;
  }
  &.background-primary{
    &, h1, h1.title, h2, h3, h4, h5, h6, a {
      color: $secondary-color;
    }
  }

  &.background-secondary{
    background: $secondary-color;

    &, h1, h1.title, h2, h3, h4, h5, h6, a {
      color: $primary-color;
    }
  }

  a {
    transition: color .1s;
    color: $tertiary-color;
    text-decoration: none;
  }
  // a:link,
  // a:visited { color: black; }
  a:hover   { color: $tertiary-color; }
  a:active  {
    transition: color .1s;
    // color: #007BE6;
  }

  img.main-logo{
    height: 120px;
  }
  img.contact-logo{
    height: 140px;
  }
}

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



a.colored-link{
  width: 60px;
  display: inline-block;
  @include background-cover;
  -webkit-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;

  @media (max-width: 768px) {
    width: 30px;
  }

  &.back:hover{
    // -webkit-filter: grayscale(100%);
    // filter: grayscale(100%);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    // background-image: url('/user/themes/nowheretheme/assets/close_h.png');
  }

  &.back{
    height: 60px;
    @media (max-width: 768px) {
      height: 30px;
    }

    &.colored-link-blue{
      background-image: url('/user/themes/nowheretheme/assets/close_b.png');
    }
    &.colored-link-white{
      background-image: url('/user/themes/nowheretheme/assets/close_w.png');
    }
    &.colored-link-red{
      background-image: url('/user/themes/nowheretheme/assets/close_r.png');
    }
    &.colored-link-yellow{
      background-image: url('/user/themes/nowheretheme/assets/close_y.png');
    }
  }
  &.logo{
    height: 71px;
    @media (max-width: 768px) {
      height: 37px;
    }

    &.colored-link-blue{
      background-image: url('/user/themes/nowheretheme/assets/logo_b.png');
    }
    &.colored-link-white{
      background-image: url('/user/themes/nowheretheme/assets/logo_w.png');
    }
    &.colored-link-red{
      background-image: url('/user/themes/nowheretheme/assets/logo_r.png');
    }
    &.colored-link-yellow{
      background-image: url('/user/themes/nowheretheme/assets/logo_y.png');
    }
  }
}

.container{
	max-width: 1610px;
  margin: 0px auto;

  &.main-page-container{
  	padding-top: 140px;
  	@include breakpoint(768px) {
  		padding-top: 150px;
  	}
  }

  &.work-page-container{
    padding-top: 0;

    .work-page-content{
      z-index: 1000;
      margin-top: 50px;
    }
    .description{
      margin: 30px 0;
    }

    .description-content{
      @include breakpoint(768px) {
        column-count: 2;
      }
    }
    .work-media-grid {
      // @include grid-media-columns(2);
      & > div {
          text-align: center;
          margin-bottom: 25px;
      }
    }

    .last-close-link{
      // width: 60px;
      display: block;
      margin: auto;
      margin-top: 100px;
      position: relative;
      z-index: 1000;
    }
  }

}

.container-inner{
	padding: 15px;
	@include breakpoint(768px) {
		padding: 35px 5% 25px 5%;
	}
}



/** HEADER - MENU **/
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

// min-width
@include breakpoint(768px) {
	.js .nav-collapse {
		position: relative;
	}
	.js .nav-collapse.closed {
		max-height: none;
	}
}

#header{
	// border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	position: fixed;
	width: 100%;
	z-index: 1001;

    &.header-simple{
      // position: relative;
      background: transparent;

      .container-inner{
          @include breakpoint(768px) {
              padding: 50px 3% 25px 3%;
          }
      }
    }

	.nav-collapse.opened {
	  max-height: 9999px;
	}

	.nav-toggle{
		float: right;
        margin-top: 20px;
		i{
			line-height: 40px;
		}
		i:before {
  			content: "\e906";
  		}
  		&.active{
  			i:before {
  				content: "\e905";
  			}
  		}
	}
	// min-width
	@include breakpoint(768px) {
		.menu{
      padding-top: 28px;
			ul{
				li{
    			display: inline;
    			a{
    				margin-left: 40px;
    			}
          &.h2{
            font-size: 26px;
          }
				}
			}
		}
		.nav-toggle {
			display: none;
		}
	}

	@include breakpoint(sm) {
		h2{
			margin-bottom: 0;
		}
	}
}

footer{
	.contact{
		@include breakpoint(768px) {
			text-align: right;
		}
	}
	.address{
		@include breakpoint(sm) {
			margin-bottom: 10px;
		}
	}
}


/** DEFAULT **/

.main-content{
	font-size: 24px;
	line-height: 32px;

  h1.title{
    font-size: 88px;
    line-height: 90px;
    margin-bottom: 50px;
  }
  h2.title{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  &.main-content-contact{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;

    .contact-info{
      margin-bottom: 50px;
    }
  }

  &.main-content-delayed, .main-content-delayed{
    display: none;
  }

  .subtitle{
    margin-bottom: 50px;
  }

  .inline-ul{
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin-bottom: 0;
  }

}

section.background-section{
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  z-index: -1;
//
//  &.background-section-links{
//    width: 100%;
//    position: absolute;
//    top:0;
//    z-index: 999;
//
//    a{
//      position: absolute;
//      top:30px;
//
//      &.logo{
//        left: 30px;
//      }
//
//      &.back{
//        right: 30px;
//      }
//    }
//
//  }
//
  &.background-section-image{
    @include background-cover;
    position: relative;
    height: 100vh;
    width: 100vw;

  }

}


.row.row-xs{
  flex-direction: row;
}

/** SOCIALS **/

.socials-links{
  font-size: 18px;
}

.socials{
  a{
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;

    display: inline-block;
    width: 24px;
    height: 24px;

    @include background-cover;
    // -webkit-transition: .1s ease-in;
    // transition: .1s ease-in;

    &.fb{
      background-image: url('/user/themes/nowheretheme/assets/fb.png');
      &:hover{
        background-image: url('/user/themes/nowheretheme/assets/fb.png');
      }
    }
    &.in{
      background-image: url('/user/themes/nowheretheme/assets/in.png');
      &:hover{
        background-image: url('/user/themes/nowheretheme/assets/in.png');
      }
    }
    &.behance{
      width: 130px;
      background-image: url('/user/themes/nowheretheme/assets/behance.png');
      &:hover{
        background-image: url('/user/themes/nowheretheme/assets/behance.png');
      }
    }
  }

  @media (max-width: 768px) {
    a:last-child{
      margin-right: 0;
    }
  }
}

/** FOOTER **/

footer{
  .socials{
    text-align: right;

    @media (max-width: 768px) {
      text-align: center;
    }
  }
}


/** PORTFOLIO **/
.portfolio-grid {

    .col{
    	// display: block;
    	padding: 6px;
    	a{
    		display: block;
    		position: relative;
    		height: 100%;
    		text-align: center;

    		img{
    			vertical-align: bottom;
    		}

    		.hover-back{
			    opacity: 0;
			    position: absolute;
			    top: 0;
                background: rgba(0, 0, 0, 0.8);
			    width: 100%;
			    height: 100%;
			    transition: opacity .2s;

			    .image-title{
			    	position: relative;
					float: left;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: white
			    }
    		}

    		&:hover{
    			.hover-back{
    				opacity: 1;
    			}
    		}
    	}
    }
}


body{

  &.home-page{
  	background: transparent;
  	&, a {
  		color: #c14426;
  	}

  	.title{
			// font-family: ElliotSansBold;
			font-size: 100px;
			line-height: 100px;
			text-align: center;

			i {
				// font-family: ElliotSansBoldI;
			}
		// padding-right: 100px;
  	}

    .subtitle-container{
      margin-top: 55px;
      text-align: center;

      .subtitle{
        font-family: 'Poppins';
        font-style: italic;
        font-size: 32px;
      }
    }

    footer{
      // font-family: ElliotSansMedium;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 50px;


      .contact{
        text-align: left;
        font-size: 18px;
      }
    }


    @media (max-width: 768px) {
      .centered{
        position: relative;
        transform: none;
        top: auto;
        left: auto;
      }

      .title{
        font-size: 75px;
        line-height: 75px;
        margin-top: 40px;
      }

      .subtitle-container{
        margin-top: 40px;
        .subtitle{
          font-size: 22px;
        }
      }

      footer{
        // margin-top: 100px;
        padding: 15px;

        .contact{
          text-align: center;
          margin-bottom: 15px;
        }
      }

    }

    @media (max-height: 500px){
      footer{
        position: relative;
        margin-top: 25px;
      }
    }
  }
}
