@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
body {
  font-family: 'Poppins', sans-serif; }

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif; }

button, .button {
  font-family: 'Poppins', sans-serif; }

input, textarea, select {
  font-family: 'Poppins', sans-serif; }

@font-face {
  font-family: 'ElliotSansBold';
  src: url("../fonts/ElliotSans-Bold.ttf") format("truetype"); }
@font-face {
  font-family: 'ElliotSansBoldI';
  src: url("../fonts/ElliotSans-BoldItalic.ttf") format("truetype"); }
/** GENERAL **/
body {
  color: #036B89; }
  body h1, body h1.title, body h2, body h3, body h4, body h5, body h6 {
    color: #036B89; }
  body h1.title, body h2.title {
    font-family: 'ElliotSansBold'; }
  body.background-primary, body .background-primary {
    background: #036B89; }
  body.background-primary, body.background-primary h1, body.background-primary h1.title, body.background-primary h2, body.background-primary h3, body.background-primary h4, body.background-primary h5, body.background-primary h6, body.background-primary a {
    color: #F1E1BF; }
  body.background-secondary {
    background: #F1E1BF; }
    body.background-secondary, body.background-secondary h1, body.background-secondary h1.title, body.background-secondary h2, body.background-secondary h3, body.background-secondary h4, body.background-secondary h5, body.background-secondary h6, body.background-secondary a {
      color: #036B89; }
  body a {
    transition: color .1s;
    color: #c5d5d7;
    text-decoration: none; }
  body a:hover {
    color: #c5d5d7; }
  body a:active {
    transition: color .1s; }
  body img.main-logo {
    height: 120px; }
  body img.contact-logo {
    height: 140px; }

.centered {
  position: fixed;
  top: 45%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }

a.colored-link {
  width: 60px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out; }
  @media (max-width: 768px) {
    a.colored-link {
      width: 30px; } }
  a.colored-link.back:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg); }
  a.colored-link.back {
    height: 60px; }
    @media (max-width: 768px) {
      a.colored-link.back {
        height: 30px; } }
    a.colored-link.back.colored-link-blue {
      background-image: url("/user/themes/nowheretheme/assets/close_b.png"); }
    a.colored-link.back.colored-link-white {
      background-image: url("/user/themes/nowheretheme/assets/close_w.png"); }
    a.colored-link.back.colored-link-red {
      background-image: url("/user/themes/nowheretheme/assets/close_r.png"); }
    a.colored-link.back.colored-link-yellow {
      background-image: url("/user/themes/nowheretheme/assets/close_y.png"); }
  a.colored-link.logo {
    height: 71px; }
    @media (max-width: 768px) {
      a.colored-link.logo {
        height: 37px; } }
    a.colored-link.logo.colored-link-blue {
      background-image: url("/user/themes/nowheretheme/assets/logo_b.png"); }
    a.colored-link.logo.colored-link-white {
      background-image: url("/user/themes/nowheretheme/assets/logo_w.png"); }
    a.colored-link.logo.colored-link-red {
      background-image: url("/user/themes/nowheretheme/assets/logo_r.png"); }
    a.colored-link.logo.colored-link-yellow {
      background-image: url("/user/themes/nowheretheme/assets/logo_y.png"); }

.container {
  max-width: 1610px;
  margin: 0px auto; }
  .container.main-page-container {
    padding-top: 140px; }
    @media (min-width: 768px) {
      .container.main-page-container {
        padding-top: 165px; } }
  .container.work-page-container {
    padding-top: 0; }
    .container.work-page-container .work-page-content {
      z-index: 1000;
      margin-top: 50px; }
    .container.work-page-container .description {
      margin: 30px 0; }
    .container.work-page-container .description-content {
      text-align: justify;
      margin-top: 15px; }
      @media (min-width: 768px) {
        .container.work-page-container .description-content {
          -webkit-columns: 2;
          -moz-columns: 2;
          columns: 2;
          -webkit-column-gap: 80px;
          -moz-column-gap: 80px;
          column-gap: 80px; } }
    .container.work-page-container .work-media-grid > div {
      text-align: center;
      margin-bottom: 25px; }
    .container.work-page-container .last-close-link {
      display: block;
      margin: auto;
      margin-top: 100px;
      position: relative;
      z-index: 1000; }

.container-inner {
  padding: 15px; }
  @media (min-width: 768px) {
    .container-inner {
      padding: 35px 5% 25px 5%; } }

/** HEADER - MENU **/
.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

@media (min-width: 768px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; } }
#header {
  position: fixed;
  width: 100%;
  z-index: 1001; }
  #header.header-simple {
    background: transparent; }
    @media (min-width: 768px) {
      #header.header-simple .container-inner {
        padding: 50px 3% 25px 3%; } }
  #header .nav-collapse.opened {
    max-height: 9999px; }
  #header .nav-toggle {
    float: right;
    margin-top: 20px; }
    #header .nav-toggle i {
      line-height: 40px; }
    #header .nav-toggle i:before {
      content: "\e906"; }
    #header .nav-toggle.active i:before {
      content: "\e905"; }
  @media (min-width: 768px) {
    #header .menu ul li {
      display: inline; }
      #header .menu ul li a {
        margin-left: 40px; }
      #header .menu ul li.h2 {
        font-size: 26px; }
    #header .nav-toggle {
      display: none; } }
  @media (max-width: 768px) {
    #header h2 {
      margin-bottom: 0; } }

@media (min-width: 768px) {
  footer .contact {
    text-align: right; } }
@media (max-width: 768px) {
  footer .address {
    margin-bottom: 10px; } }

/** DEFAULT **/
.main-content {
  font-size: 24px;
  line-height: 32px; }
  .main-content h1.title {
    font-size: 88px;
    line-height: 90px;
    margin-bottom: 50px; }
  .main-content h2.title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 50px; }
  .main-content.main-content-contact {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px; }
    .main-content.main-content-contact .contact-info {
      margin-bottom: 50px; }
  .main-content.main-content-delayed, .main-content .main-content-delayed {
    display: none; }
    @media (min-width: 768px) {
      .main-content.main-content-delayed, .main-content .main-content-delayed {
        padding: 0 100px; } }
  .main-content .subtitle {
    margin-bottom: 50px; }
  .main-content .inline-ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin-bottom: 0; }

section.background-section.background-section-image {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw; }

.row.row-xs {
  flex-direction: row; }

/** SOCIALS **/
.socials-links {
  font-size: 18px; }
  .socials-links.col {
    padding: 6px;
    margin-top: 20px; }

.socials a {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .socials a.fb {
    background-image: url("/user/themes/nowheretheme/assets/fb.png"); }
    .socials a.fb:hover {
      background-image: url("/user/themes/nowheretheme/assets/fb.png"); }
  .socials a.in {
    background-image: url("/user/themes/nowheretheme/assets/in.png"); }
    .socials a.in:hover {
      background-image: url("/user/themes/nowheretheme/assets/in.png"); }
  .socials a.behance {
    width: 130px;
    background-image: url("/user/themes/nowheretheme/assets/behance.png"); }
    .socials a.behance:hover {
      background-image: url("/user/themes/nowheretheme/assets/behance.png"); }
@media (max-width: 768px) {
  .socials a:last-child {
    margin-right: 0; } }

/** FOOTER **/
footer .socials {
  text-align: right; }
  @media (max-width: 768px) {
    footer .socials {
      text-align: center; } }

/** PORTFOLIO **/
.portfolio-grid .col {
  padding: 6px; }
  .portfolio-grid .col a {
    display: block;
    position: relative;
    height: 100%;
    text-align: center; }
    .portfolio-grid .col a img {
      vertical-align: bottom; }
    .portfolio-grid .col a .hover-back {
      opacity: 0;
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      transition: opacity .2s; }
      .portfolio-grid .col a .hover-back .image-title {
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; }
    .portfolio-grid .col a:hover .hover-back {
      opacity: 1; }

body.home-page {
  background: transparent; }
  body.home-page, body.home-page a {
    color: #c14426; }
  body.home-page .title {
    font-size: 100px;
    line-height: 100px;
    text-align: center; }
  body.home-page .subtitle-container {
    margin-top: 55px;
    text-align: center; }
    body.home-page .subtitle-container .subtitle {
      font-family: 'Poppins';
      font-style: italic;
      font-size: 32px; }
  body.home-page footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 50px; }
    body.home-page footer .contact {
      text-align: left;
      font-size: 18px; }
  @media (max-width: 768px) {
    body.home-page .centered {
      position: relative;
      transform: none;
      top: auto;
      left: auto; }
    body.home-page .title {
      font-size: 75px;
      line-height: 75px;
      margin-top: 40px; }
    body.home-page .subtitle-container {
      margin-top: 40px; }
      body.home-page .subtitle-container .subtitle {
        font-size: 22px; }
    body.home-page footer {
      padding: 15px; }
      body.home-page footer .contact {
        text-align: center;
        margin-bottom: 15px; } }
  @media (max-height: 500px) {
    body.home-page footer {
      position: relative;
      margin-top: 25px; } }

.spinner {
  margin: 45px auto 0;
  width: 80px;
  text-align: center; }
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #c14426;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=template.css.map */
